@charset 'utf-8';



@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;


@include motion-ui-transitions;
@include motion-ui-animations;

/* COLORS */

$lt-grey:rgba(232, 232, 234, 1.0);
$pink:rgba(207, 4, 103, 1.0);
$wa-blue:rgba(0, 163, 185, 1.0);
$dark:rgba(0, 0, 0, 1.0);

/* HEADER */
header {
	background-color: $dark;
	padding:40px 0;

}

body {
	padding-bottom:2em;
}
.mobile-copy {
	margin-top:2em;
}

.section--form-video {
    padding-bottom: 2em;
}

.hero-wrap {
	margin-bottom:20px;
}
.intro {
	// border-bottom:1px solid $lt-grey;
	padding-top:2em;
	// padding-bottom:1em;
	width:80%;
	margin:0 auto;
}
.intro-header {
	text-align: left;
	font-weight: 900;
	text-transform: uppercase;
	margin-top:0.75em;
	line-height: 1;
	@include breakpoint(small only) {
	    font-size:2em;

	}
}

.section--form-video {
	margin-top:1em;
}
.section--secondary {
	margin-top:2em;


}
.section--secondary__column {
	border-top:1px solid $lt-grey;
	padding-top:3em;
}

label {
	font-weight: bold;
}

.form__header,
.form_h1 {
	font-weight: bold!important;
	line-height: 1!important;
    margin-top: 4.75em!important;
	@include breakpoint(small only) {
	    margin-top: 1em!important;

	}
}
select {
	color:rgba(169, 169, 169, 1.0);
}
.button {
	text-transform: uppercase;
    font-weight: bold;
    padding: 1.4rem 0;
}
.button--continue {
	margin-top:1em;
}

.flex-video.form-frame-wrap {
    min-height: 1200px;
    @include breakpoint(medium only) {
	    padding:0;

	}
	@include breakpoint(small only) {
	    min-height: 750px;

	}
	
}

.panel {
	background:#f3f3f3;
	padding:2em 1em 1em 1em;
}

// .info-section-below {
// 	display:none;
// 	@include breakpoint(small only) {
// 	    display:block;
//
// 	}
// }
// .info-section-above {
// 	@include breakpoint(small only) {
// 	    display:none;
//
// 	}
// }
// .stuck {
//   position:fixed;
//   top:0;
// 	width: 279px;
// }

.form_birthdate select {
	width:30%;
}

button {
	@extend .button;
    width: 100%;
    padding: 20px 50px;
}
a.sign-up-link{
	display: inline-block;
	text-decoration: underline;
	font-weight: bold;
	font-size: 1.175em;
	// margin-top:2em;
}
footer {
	margin-top:2em;
}
